[MASTER]
init-hook='import sys; sys.path.append("TA-linode/bin/deps")'

[MESSAGES CONTROL]
disable=protected-access,
        unused-argument,
        duplicate-code,
        raise-missing-from,
        unnecessary-pass,
        assignment-from-no-return,
        wrong-import-position,
        import-error,
        wrong-import-order,
        super-with-arguments,
        no-self-use,
        broad-except,
        too-few-public-methods,
        no-name-in-module