name: Run Tests

on: [ push, pull_request, workflow_dispatch ]

jobs:
  run-tests:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repo
        uses: actions/checkout@v3

      - name: update packages
        run: sudo apt-get update -y

      - name: install make
        run: sudo apt-get install -y build-essential

      - name: setup python 3
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: install dependencies
        run: make getdeps && pip3 install -r requirements-dev.txt

      - name: run tests
        run: make test